.logo{
    float: left;
 width: 100px;
 height: 100px;


}
.banner{
text-align: center;
float: inline-start;
}
.b2{
    width: 1080px;
    height: 90px;
    
  }
.btn{
    text-align: right;
    float: top;
    margin: 3px;
  padding: 20px;

}



.persons{
    height: 130px;
    width: 468px;
    margin: auto;


}
 

 .footer {
    text-align: center;
    background-color: gray;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    width: 60%;
    
    
    
    
}